@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    border: 0;

    box-sizing: border-box;
    text-decoration: none;
    a:hover {
        opacity: 0.3;
    }
    li{
        list-style: none;
    }
}
/* // でコメントアウトするとコンパイル後cssに残らない */


header{
    .wrapper{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        padding-top: 100px;
    
        .container{
        max-width: 900px;
        
        display: flex;
        flex-flow: column   ;
        align-content: center;
                >.display{

                    img{
                        width: 100%;
                    }

                }
                >ul{
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-content: space-between;
                    li{
                        width: (100%/5);
                        img{
                            padding: 4px;
                            width: 100%;
                        }
                        &:first-child{img{
                                // padding: 5px 5px 5px 0;
                                // padding-left: 0;

                            }
                        }
                        &:last-child{img{
                                // padding: 5px 0 5px 5px;
                                // padding-right: 0;
                            }
                        }

                        
                    }
                }
            }
    }

}
